.App {
  text-align: center;
  background-color: lightcoral;
}

#editor-container {
  width: 80%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  background-color: moccasin;
}

#preview-container {
  width: 80%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  background-color: mediumaquamarine;
}

textarea {
  width: 90%;
  height: 30vh;
}